esp32_node_firmware/node-red/tracking_map.flow.json
[
  {
    "id": "map_tab",
    "type": "tab",
    "label": "ESP-NOW Map",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "map_ui_page",
    "type": "ui-page",
    "name": "Ranging Map",
    "ui": "45a25337ec9ca43a",
    "path": "/map",
    "icon": "mdi-map-marker-radius",
    "layout": "flex",
    "theme": "alpha_ble_theme",
    "order": 6,
    "className": "",
    "visible": true
  },
  {
    "id": "map_grp_canvas",
    "type": "ui-group",
    "page": "map_ui_page",
    "name": "Position Map",
    "theme": "alpha_ble_theme",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "map_grp_anchor",
    "type": "ui-group",
    "page": "map_ui_page",
    "name": "Anchor Setup",
    "theme": "alpha_ble_theme",
    "order": 2,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "map_status_in",
    "type": "mqtt in",
    "z": "map_tab",
    "name": "status (all nodes)",
    "topic": "Enigma/JHBDev/+/+/+/ESP32NodeBox/+/status",
    "qos": "1",
    "datatype": "json",
    "broker": "mqtt_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 120,
    "y": 80,
    "wires": [["map_anchor_fn"]]
  },
  {
    "id": "map_anchor_fn",
    "type": "function",
    "z": "map_tab",
    "name": "Anchor Registry",
    "func": "try {\n    var p = msg.payload || {};\n    var uuid = (msg.topic || '').split('/')[6] || p.device_id || '';\n    if (!uuid) return null;\n    var anchors = flow.get('map_anchors') || {};\n    if (p.online === false || p.event === 'offline') {\n        // LWT — mark offline but keep position\n        if (anchors[uuid]) anchors[uuid].online = false;\n        flow.set('map_anchors', anchors);\n        return { payload: { anchors: Object.values(anchors) } };\n    }\n    var isAnchor = p.anchor && p.anchor.role === 'anchor';\n    var name = (p.node_name || '').trim() || uuid.slice(0, 8) + '...';\n    anchors[uuid] = {\n        uuid:    uuid,\n        mac:     p.mac || '',\n        name:    name,\n        online:  true,\n        is_anchor: isAnchor,\n        x_m:     isAnchor ? (p.anchor.x_m || 0) : null,\n        y_m:     isAnchor ? (p.anchor.y_m || 0) : null,\n        z_m:     isAnchor ? (p.anchor.z_m || 0) : null,\n        wifi_ch: p.wifi_channel || 0,\n        last_seen: Date.now()\n    };\n    flow.set('map_anchors', anchors);\n    // Channel mismatch check\n    var anchorList = Object.values(anchors).filter(function(a) { return a.is_anchor && a.online; });\n    var channels = [...new Set(anchorList.map(function(a) { return a.wifi_ch; }).filter(Boolean))];\n    var channelWarning = channels.length > 1 ? 'Anchors on channels ' + channels.join(', ') + ' — ESP-NOW will not work across channels' : '';\n    flow.set('map_channel_warning', channelWarning);\n    return { payload: { anchors: Object.values(anchors), channelWarning: channelWarning } };\n} catch(e) {\n    node.error('Anchor Registry: ' + e.message, msg);\n    return null;\n}",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 80,
    "wires": [["map_canvas_tpl", "map_anchor_tpl"]]
  },
  {
    "id": "map_espnow_in",
    "type": "mqtt in",
    "z": "map_tab",
    "name": "espnow (all nodes)",
    "topic": "Enigma/JHBDev/+/+/+/ESP32NodeBox/+/espnow",
    "qos": "1",
    "datatype": "json",
    "broker": "mqtt_broker",
    "nl": false,
    "rap": false,
    "rh": 0,
    "inputs": 0,
    "x": 120,
    "y": 200,
    "wires": [["map_range_fn"]]
  },
  {
    "id": "map_range_fn",
    "type": "function",
    "z": "map_tab",
    "name": "Collect Range Obs",
    "func": "try {\n    var p = msg.payload || {};\n    var observerUuid = (msg.topic || '').split('/')[6] || '';\n    var anchors = flow.get('map_anchors') || {};\n    var ranges = flow.get('map_ranges') || {}; // {mobileUuid: {anchorUuid: d_m}}\n    var peers = Array.isArray(p.peers) ? p.peers : [];\n    // Find which anchors are in this observer's peer list\n    var anchorList = Object.values(anchors).filter(function(a) { return a.is_anchor && a.online; });\n    peers.forEach(function(peer) {\n        if (!peer.mac) return;\n        var anchor = anchorList.find(function(a) { return a.mac === peer.mac; });\n        if (!anchor) return;\n        if (!ranges[observerUuid]) ranges[observerUuid] = {};\n        ranges[observerUuid][anchor.uuid] = parseFloat(peer.dist_m) || 0;\n    });\n    flow.set('map_ranges', ranges);\n    // Attempt to solve position for this mobile observer\n    var myAnchors = anchorList.filter(function(a) {\n        return ranges[observerUuid] && ranges[observerUuid][a.uuid] !== undefined;\n    });\n    if (myAnchors.length < 1) return null;\n    var observerName = (p.node_name || '').trim() || observerUuid.slice(0, 8) + '...';\n    var pos = solvePosition(myAnchors, ranges[observerUuid]);\n    msg.payload = {\n        uuid:         observerUuid,\n        name:         observerName,\n        x_m:          pos.x,\n        y_m:          pos.y,\n        residual_m:   pos.residual,\n        anchors_used: myAnchors.map(function(a) { return a.name; }),\n        method:       pos.method\n    };\n    return msg;\n} catch(e) {\n    node.error('Collect Range Obs: ' + e.message, msg);\n    return null;\n}\n\nfunction solvePosition(anchors, ranges) {\n    if (anchors.length === 1) {\n        // Only one anchor: place mobile at distance d on a ring (angle unknown)\n        var d = ranges[anchors[0].uuid] || 0;\n        return { x: anchors[0].x_m + d, y: anchors[0].y_m, residual: 0, method: 'polar-1anc' };\n    }\n    if (anchors.length === 2) {\n        // Two anchors: two circles, two intersection points — pick the one with positive Y\n        var a1 = anchors[0], a2 = anchors[1];\n        var d1 = ranges[a1.uuid] || 0, d2 = ranges[a2.uuid] || 0;\n        var dx = a2.x_m - a1.x_m, dy = a2.y_m - a1.y_m;\n        var D = Math.sqrt(dx*dx + dy*dy);\n        if (D < 0.01) return { x: a1.x_m, y: a1.y_m, residual: 999, method: 'degenerate' };\n        var a = (d1*d1 - d2*d2 + D*D) / (2*D);\n        var h2 = d1*d1 - a*a;\n        if (h2 < 0) h2 = 0;\n        var h = Math.sqrt(h2);\n        var mx = a1.x_m + a*dx/D, my = a1.y_m + a*dy/D;\n        // Pick the intersection point (arbitrary: +h)\n        return { x: mx + h*dy/D, y: my - h*dx/D, residual: 0, method: '2-circle' };\n    }\n    // N >= 3: Gauss-Newton least-squares (2D)\n    // Initial estimate: weighted centroid (weights = 1/d)\n    var sx = 0, sy = 0, sw = 0;\n    anchors.forEach(function(a) {\n        var d = ranges[a.uuid] || 1;\n        var w = 1 / Math.max(d, 0.1);\n        sx += a.x_m * w; sy += a.y_m * w; sw += w;\n    });\n    var x = sx/sw, y = sy/sw;\n    for (var iter = 0; iter < 20; iter++) {\n        var J1 = 0, J2 = 0, J3 = 0, J4 = 0, r1 = 0, r2 = 0;\n        var maxStep = 0;\n        anchors.forEach(function(a) {\n            var dx2 = x - a.x_m, dy2 = y - a.y_m;\n            var pred = Math.sqrt(dx2*dx2 + dy2*dy2);\n            if (pred < 1e-6) pred = 1e-6;\n            var res = pred - (ranges[a.uuid] || 0);\n            var jx = dx2/pred, jy = dy2/pred;\n            J1 += jx*jx; J2 += jx*jy; J3 += jy*jy;\n            r1 += jx*res; r2 += jy*res;\n        });\n        // Solve 2x2 system [J1 J2; J2 J3][dx;dy] = [r1;r2]\n        var det = J1*J3 - J2*J2;\n        if (Math.abs(det) < 1e-10) break;\n        var dx3 = (J3*r1 - J2*r2) / det;\n        var dy3 = (J1*r2 - J2*r1) / det;\n        x -= dx3; y -= dy3;\n        maxStep = Math.sqrt(dx3*dx3 + dy3*dy3);\n        if (maxStep < 0.001) break;\n    }\n    // Compute residual (RMS)\n    var sumSq = 0;\n    anchors.forEach(function(a) {\n        var dx2 = x - a.x_m, dy2 = y - a.y_m;\n        var pred = Math.sqrt(dx2*dx2 + dy2*dy2);\n        var res = pred - (ranges[a.uuid] || 0);\n        sumSq += res*res;\n    });\n    var rms = Math.sqrt(sumSq / anchors.length);\n    return { x: x, y: y, residual: rms, method: 'gauss-newton-' + anchors.length + 'anc' };\n}",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 200,
    "wires": [["map_canvas_tpl", "map_mqtt_out"]]
  },
  {
    "id": "map_mqtt_out",
    "type": "mqtt out",
    "z": "map_tab",
    "name": "tracking/position",
    "topic": "Enigma/JHBDev/tracking/position",
    "qos": "0",
    "retain": false,
    "broker": "mqtt_broker",
    "x": 620,
    "y": 240,
    "wires": []
  },
  {
    "id": "map_canvas_tpl",
    "type": "ui-template",
    "z": "map_tab",
    "group": "map_grp_canvas",
    "name": "2D Map Canvas",
    "order": 1,
    "width": "12",
    "height": "14",
    "format": "<template>\n  <div style=\"padding:8px\">\n    <!-- Channel warning -->\n    <div v-if=\"channelWarning\"\n         style=\"background:#b71c1c;color:#fff;padding:6px 12px;border-radius:4px;margin-bottom:8px;font-size:12px\">\n      ⚠ {{ channelWarning }}\n    </div>\n    <canvas ref=\"canvas\" style=\"width:100%;background:#131c21;border-radius:4px;cursor:crosshair\"\n            :height=\"canvasH\"></canvas>\n    <!-- Legend -->\n    <div style=\"display:flex;gap:16px;margin-top:8px;font-size:11px;color:#90a4ae;flex-wrap:wrap\">\n      <span><span style=\"color:#00c853\">▲</span> Anchor (online)</span>\n      <span><span style=\"color:#546e7a\">▲</span> Anchor (offline)</span>\n      <span><span style=\"color:#00b0ff\">●</span> Mobile node</span>\n      <span>Dashed ring = ±1 anchor uncertainty</span>\n    </div>\n    <!-- Accuracy disclaimer -->\n    <div style=\"margin-top:6px;font-size:11px;color:#546e7a\">\n      Accuracy: ±1–2 m indoor / ±0.5–1 m outdoor LOS after calibration. Residual shown as ring radius.\n    </div>\n  </div>\n</template>\n<script>\nexport default {\n  data() {\n    return {\n      canvasH: 480,\n      anchors: [],\n      mobiles: {},\n      channelWarning: ''\n    }\n  },\n  mounted() { this.$nextTick(() => this.draw()); },\n  watch: {\n    msg(m) {\n      if (!m || !m.payload) return;\n      var p = m.payload;\n      // Anchor registry update\n      if (Array.isArray(p.anchors)) {\n        this.anchors = p.anchors;\n        this.channelWarning = p.channelWarning || '';\n      }\n      // Mobile position update\n      if (p.uuid && p.x_m !== undefined) {\n        this.mobiles = { ...this.mobiles, [p.uuid]: p };\n      }\n      this.$nextTick(() => this.draw());\n    }\n  },\n  methods: {\n    draw() {\n      var c = this.$refs.canvas;\n      if (!c) return;\n      var W = c.offsetWidth || 600;\n      c.width = W;\n      var ctx = c.getContext('2d');\n      ctx.fillStyle = '#131c21';\n      ctx.fillRect(0, 0, W, this.canvasH);\n      var allX = [], allY = [];\n      this.anchors.forEach(function(a) { if (a.x_m != null) { allX.push(a.x_m); allY.push(a.y_m); } });\n      Object.values(this.mobiles).forEach(function(m) { allX.push(m.x_m); allY.push(m.y_m); });\n      if (allX.length === 0) {\n        ctx.fillStyle = '#546e7a'; ctx.font = '14px monospace';\n        ctx.fillText('No anchor/position data yet', W/2 - 110, this.canvasH/2);\n        return;\n      }\n      var pad = 50;\n      var minX = Math.min(...allX) - 1, maxX = Math.max(...allX) + 1;\n      var minY = Math.min(...allY) - 1, maxY = Math.max(...allY) + 1;\n      var scaleX = (W - pad*2) / Math.max(maxX - minX, 0.1);\n      var scaleY = (this.canvasH - pad*2) / Math.max(maxY - minY, 0.1);\n      var scale = Math.min(scaleX, scaleY);\n      var toX = function(x) { return pad + (x - minX) * scale; };\n      var toY = function(y) { return pad + (y - minY) * scale; };\n      // Grid\n      ctx.strokeStyle = '#263238'; ctx.lineWidth = 0.5;\n      for (var gx = Math.ceil(minX); gx <= Math.floor(maxX); gx++) {\n        ctx.beginPath(); ctx.moveTo(toX(gx), pad); ctx.lineTo(toX(gx), this.canvasH - pad); ctx.stroke();\n        ctx.fillStyle = '#37474f'; ctx.font = '10px monospace';\n        ctx.fillText(gx + 'm', toX(gx) - 10, this.canvasH - pad + 14);\n      }\n      for (var gy = Math.ceil(minY); gy <= Math.floor(maxY); gy++) {\n        ctx.beginPath(); ctx.moveTo(pad, toY(gy)); ctx.lineTo(W - pad, toY(gy)); ctx.stroke();\n        ctx.fillStyle = '#37474f';\n        ctx.fillText(gy + 'm', 2, toY(gy) + 4);\n      }\n      // Anchors\n      var self = this;\n      this.anchors.forEach(function(a) {\n        if (a.x_m == null) return;\n        var ax = toX(a.x_m), ay = toY(a.y_m);\n        ctx.beginPath();\n        ctx.moveTo(ax, ay - 14); ctx.lineTo(ax + 10, ay + 8); ctx.lineTo(ax - 10, ay + 8); ctx.closePath();\n        ctx.fillStyle = a.online ? '#00c853' : '#546e7a';\n        ctx.fill();\n        ctx.fillStyle = '#eceff1'; ctx.font = 'bold 11px monospace';\n        ctx.fillText(a.name, ax + 12, ay);\n      });\n      // Mobiles\n      Object.values(this.mobiles).forEach(function(m) {\n        if (m.x_m == null) return;\n        var mx = toX(m.x_m), my = toY(m.y_m);\n        // Uncertainty ring\n        if (m.residual_m > 0) {\n          ctx.beginPath();\n          ctx.arc(mx, my, m.residual_m * scale, 0, Math.PI * 2);\n          ctx.strokeStyle = 'rgba(0,176,255,0.2)'; ctx.lineWidth = 1;\n          ctx.setLineDash([4, 4]); ctx.stroke(); ctx.setLineDash([]);\n        }\n        ctx.beginPath(); ctx.arc(mx, my, 8, 0, Math.PI * 2);\n        ctx.fillStyle = '#00b0ff'; ctx.fill();\n        ctx.fillStyle = '#eceff1'; ctx.font = 'bold 11px monospace';\n        ctx.fillText(m.name, mx + 11, my + 4);\n        if (m.anchors_used && m.anchors_used.length > 0) {\n          ctx.fillStyle = '#78909c'; ctx.font = '9px monospace';\n          ctx.fillText('(' + m.method + ', res=' + m.residual_m.toFixed(2) + 'm)', mx + 11, my + 16);\n        }\n      });\n    }\n  }\n}\n</script>",
    "storeOutMessages": false,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 600,
    "y": 80,
    "wires": [[]]
  },
  {
    "id": "map_anchor_tpl",
    "type": "ui-template",
    "z": "map_tab",
    "group": "map_grp_anchor",
    "name": "Anchor Setup",
    "order": 1,
    "width": "12",
    "height": "8",
    "format": "<template>\n  <div style=\"padding:10px;font-size:13px\">\n    <div style=\"font-weight:bold;color:#80cbc4;margin-bottom:10px\">Anchor Configuration</div>\n    <!-- Device selector -->\n    <div style=\"display:flex;align-items:center;gap:8px;margin-bottom:10px;flex-wrap:wrap\">\n      <span style=\"color:#90a4ae;min-width:60px\">Device:</span>\n      <select v-model=\"selUuid\"\n              style=\"background:#1e272c;color:#eceff1;border:1px solid #546e7a;\n                     padding:4px 8px;border-radius:4px;font-size:12px;flex:1;min-width:200px\">\n        <option value=\"\">-- select node --</option>\n        <option v-for=\"a in nodes\" :key=\"a.uuid\" :value=\"a.uuid\">\n          {{ a.name }} ({{ a.is_anchor ? 'anchor' : 'mobile' }})\n        </option>\n      </select>\n    </div>\n    <!-- Role toggle -->\n    <div style=\"display:flex;align-items:center;gap:16px;margin-bottom:10px;flex-wrap:wrap\">\n      <span style=\"color:#90a4ae\">Role:</span>\n      <label style=\"display:flex;align-items:center;gap:6px;cursor:pointer;color:#eceff1\">\n        <input type=\"radio\" v-model=\"role\" value=\"anchor\"> Anchor (fixed)\n      </label>\n      <label style=\"display:flex;align-items:center;gap:6px;cursor:pointer;color:#eceff1\">\n        <input type=\"radio\" v-model=\"role\" value=\"mobile\"> Mobile\n      </label>\n    </div>\n    <!-- Coordinates (anchor only) -->\n    <div v-if=\"role === 'anchor'\" style=\"display:flex;gap:10px;margin-bottom:10px;flex-wrap:wrap\">\n      <label style=\"color:#90a4ae;display:flex;align-items:center;gap:6px\">\n        X (m):\n        <input v-model.number=\"xm\" type=\"number\" step=\"0.1\"\n               style=\"background:#1e272c;color:#eceff1;border:1px solid #546e7a;\n               padding:4px 8px;border-radius:4px;font-size:12px;width:80px\">\n      </label>\n      <label style=\"color:#90a4ae;display:flex;align-items:center;gap:6px\">\n        Y (m):\n        <input v-model.number=\"ym\" type=\"number\" step=\"0.1\"\n               style=\"background:#1e272c;color:#eceff1;border:1px solid #546e7a;\n               padding:4px 8px;border-radius:4px;font-size:12px;width:80px\">\n      </label>\n      <label style=\"color:#90a4ae;display:flex;align-items:center;gap:6px\">\n        Z (m):\n        <input v-model.number=\"zm\" type=\"number\" step=\"0.1\"\n               style=\"background:#1e272c;color:#eceff1;border:1px solid #546e7a;\n               padding:4px 8px;border-radius:4px;font-size:12px;width:80px\">\n      </label>\n    </div>\n    <button @click=\"apply\" :disabled=\"!selUuid\"\n            :style=\"{ opacity: !selUuid ? 0.4 : 1, padding:'5px 18px', background:'#00897b',\n                       color:'#fff', border:'none', borderRadius:'4px',\n                       cursor: !selUuid ? 'not-allowed' : 'pointer', fontSize:'12px' }\">\n      Apply\n    </button>\n    <span v-if=\"saved\" style=\"margin-left:10px;color:#a5d6a7;font-size:12px\">Sent!</span>\n    <!-- Live anchor table -->\n    <table style=\"width:100%;border-collapse:collapse;margin-top:14px\">\n      <thead>\n        <tr style=\"background:#263238;color:#eceff1\">\n          <th style=\"padding:6px;text-align:left\">Node</th>\n          <th style=\"padding:6px;text-align:center\">Role</th>\n          <th style=\"padding:6px;text-align:right\">X</th>\n          <th style=\"padding:6px;text-align:right\">Y</th>\n          <th style=\"padding:6px;text-align:right\">Z</th>\n          <th style=\"padding:6px;text-align:center\">Ch</th>\n          <th style=\"padding:6px;text-align:center\">Status</th>\n        </tr>\n      </thead>\n      <tbody>\n        <tr v-if=\"nodes.length === 0\">\n          <td colspan=\"7\" style=\"padding:12px;text-align:center;color:#546e7a\">No nodes seen yet</td>\n        </tr>\n        <tr v-for=\"n in nodes\" :key=\"n.uuid\" style=\"border-bottom:1px solid #37474f\">\n          <td style=\"padding:6px;color:#80cbc4\">{{ n.name }}</td>\n          <td style=\"padding:6px;text-align:center\">\n            <span :style=\"{ color: n.is_anchor ? '#00c853' : '#90a4ae' }\">\n              {{ n.is_anchor ? 'anchor' : 'mobile' }}\n            </span>\n          </td>\n          <td style=\"padding:6px;text-align:right;font-family:monospace\">\n            {{ n.is_anchor ? n.x_m.toFixed(2) + ' m' : '—' }}\n          </td>\n          <td style=\"padding:6px;text-align:right;font-family:monospace\">\n            {{ n.is_anchor ? n.y_m.toFixed(2) + ' m' : '—' }}\n          </td>\n          <td style=\"padding:6px;text-align:right;font-family:monospace\">\n            {{ n.is_anchor ? n.z_m.toFixed(2) + ' m' : '—' }}\n          </td>\n          <td style=\"padding:6px;text-align:center\">{{ n.wifi_ch || '—' }}</td>\n          <td style=\"padding:6px;text-align:center\">\n            <span :style=\"{ color: n.online ? '#00c853' : '#546e7a' }\">●</span>\n          </td>\n        </tr>\n      </tbody>\n    </table>\n  </div>\n</template>\n<script>\nexport default {\n  data() {\n    return { selUuid: '', role: 'mobile', xm: 0, ym: 0, zm: 0, saved: false, nodes: [] }\n  },\n  watch: {\n    msg(m) {\n      if (m && m.payload && Array.isArray(m.payload.anchors)) {\n        this.nodes = m.payload.anchors;\n      }\n    },\n    selUuid(uuid) {\n      var n = this.nodes.find(x => x.uuid === uuid);\n      if (n) {\n        this.role = n.is_anchor ? 'anchor' : 'mobile';\n        if (n.is_anchor) { this.xm = n.x_m || 0; this.ym = n.y_m || 0; this.zm = n.z_m || 0; }\n      }\n    }\n  },\n  methods: {\n    apply() {\n      if (!this.selUuid) return;\n      var n = this.nodes.find(x => x.uuid === this.selUuid);\n      if (!n) return;\n      var payload = this.role === 'anchor'\n        ? { role: 'anchor', x_m: this.xm, y_m: this.ym, z_m: this.zm }\n        : { role: 'mobile' };\n      var mac = n.mac;\n      this.send({\n        topic: 'Enigma/JHBDev/Office/Line/Cell/ESP32NodeBox/' + mac + '/cmd/espnow/anchor',\n        payload: JSON.stringify(payload),\n        retain: true,\n        qos: 1\n      });\n      this.saved = true;\n      setTimeout(() => { this.saved = false; }, 2000);\n    }\n  }\n}\n</script>",
    "storeOutMessages": false,
    "resendOnRefresh": false,
    "templateScope": "local",
    "x": 600,
    "y": 160,
    "wires": [["map_anchor_guard_fn"]]
  },
  {
    "id": "map_anchor_guard_fn",
    "type": "function",
    "z": "map_tab",
    "name": "Guard: valid anchor cmd only",
    "func": "// Only forward explicit anchor commands sent by the Apply button.\n// Drop any pass-through status/roster messages that arrive here\n// without a cmd/espnow/anchor topic (they have no msg.topic).\nif (!msg.topic || !msg.topic.endsWith('/cmd/espnow/anchor')) {\n    return null;\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 840,
    "y": 160,
    "wires": [["map_anchor_cmd_out"]]
  },
  {
    "id": "map_anchor_cmd_out",
    "type": "mqtt out",
    "z": "map_tab",
    "name": "cmd/espnow/anchor",
    "topic": "",
    "qos": "1",
    "retain": "",
    "broker": "mqtt_broker",
    "x": 1080,
    "y": 160,
    "wires": []
  }
]
