esp32_node_firmware/node-red/tracking_pair.flow.json
[
  {
    "id": "pair_tab",
    "type": "tab",
    "label": "ESP-NOW Pair Chart",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "pair_ui_page",
    "type": "ui-page",
    "name": "Pair Chart",
    "ui": "pair_ui_base",
    "path": "/pair",
    "icon": "mdi-chart-line",
    "layout": "flex",
    "theme": "pair_ui_theme",
    "order": 5,
    "className": "",
    "visible": true
  },
  {
    "id": "pair_ui_base",
    "type": "ui-base",
    "name": "ESP-NOW Dashboard",
    "path": "/ui",
    "includeClientData": true,
    "acceptsClientConfig": ["ui-notification", "ui-control"],
    "showPathInSidebar": false
  },
  {
    "id": "pair_ui_theme",
    "type": "ui-theme",
    "name": "Pair Theme",
    "colors": {
      "surface": "#1e272e",
      "primary": "#0288d1",
      "bgPage": "#131c21",
      "groupBg": "#1e272e",
      "groupOutline": "#37474f"
    },
    "sizes": { "pagePadding": "12px", "groupGap": "12px", "groupBorderRadius": "4px", "widgetGap": "6px" }
  },
  {
    "id": "pair_grp_chart",
    "type": "ui-group",
    "page": "pair_ui_page",
    "name": "Distance Pair Chart",
    "theme": "pair_ui_theme",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "pair_grp_ctrl",
    "type": "ui-group",
    "page": "pair_ui_page",
    "name": "Pair Selector",
    "theme": "pair_ui_theme",
    "order": 2,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "pair_mqtt_in",
    "type": "mqtt in",
    "z": "pair_tab",
    "name": "espnow (all nodes)",
    "topic": "Enigma/JHBDev/+/+/+/ESP32NodeBox/+/espnow",
    "qos": "1",
    "datatype": "json",
    "broker": "mqtt_broker",
    "nl": false,
    "rap": false,
    "rh": 0,
    "inputs": 0,
    "x": 120,
    "y": 80,
    "wires": [["pair_extract_fn"]]
  },
  {
    "id": "pair_extract_fn",
    "type": "function",
    "z": "pair_tab",
    "name": "Extract Pairs",
    "func": "try {\n    var p = msg.payload || {};\n    var observer = p.node_name || msg.topic.split('/')[6] || 'unknown';\n    var peers = Array.isArray(p.peers) ? p.peers : [];\n    var roster = flow.get('pair_roster') || {};\n    // Update roster with this observer's name\n    var mac = msg.topic.split('/')[6];\n    if (mac) roster[mac] = observer;\n    flow.set('pair_roster', roster);\n    var msgs = [];\n    peers.forEach(function(peer) {\n        if (!peer.mac) return;\n        var peerName = roster[peer.mac] || peer.mac;\n        // Canonical pair key — sorted so A↔B and B↔A map to same key\n        var pair = [observer, peerName].sort().join(' ↔ ');\n        msgs.push({\n            payload: {\n                pair:      pair,\n                observer:  observer,\n                peer:      peerName,\n                peer_mac:  peer.mac,\n                d_m:       parseFloat(peer.dist_m) || 0,\n                rssi_ema:  peer.rssi_ema,\n                rejects:   peer.rejects || 0,\n                ts:        Date.now()\n            }\n        });\n    });\n    return [msgs];\n} catch(e) {\n    node.error('Extract Pairs: ' + e.message, msg);\n    return null;\n}",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 340,
    "y": 80,
    "wires": [["pair_join_fn"]]
  },
  {
    "id": "pair_join_fn",
    "type": "function",
    "z": "pair_tab",
    "name": "Bidirectional Join",
    "func": "try {\n    var obs = msg.payload;\n    var pairs = flow.get('pair_data') || {};\n    var key = obs.pair;\n    if (!pairs[key]) pairs[key] = {};\n    // Store each directional measurement keyed by observer\n    pairs[key][obs.observer] = { d_m: obs.d_m, ts: obs.ts };\n    flow.set('pair_data', pairs);\n    // Publish combined pair metrics\n    var sides = Object.keys(pairs[key]);\n    var d_fwd = pairs[key][sides[0]] ? pairs[key][sides[0]].d_m : null;\n    var d_rev = pairs[key][sides[1]] ? pairs[key][sides[1]].d_m : null;\n    var result;\n    if (d_fwd !== null && d_rev !== null) {\n        result = {\n            pair:   key,\n            d_fwd:  d_fwd,\n            d_rev:  d_rev,\n            mean:   (d_fwd + d_rev) / 2,\n            margin: Math.abs(d_fwd - d_rev) / 2,\n            ts:     obs.ts\n        };\n    } else {\n        result = {\n            pair:   key,\n            d_fwd:  d_fwd,\n            d_rev:  d_rev,\n            mean:   d_fwd || d_rev,\n            margin: 0,\n            ts:     obs.ts\n        };\n    }\n    flow.set('pair_last', result);\n    // Emit for chart and for selector\n    return { payload: result, topic: key };\n} catch(e) {\n    node.error('Bidirectional Join: ' + e.message, msg);\n    return null;\n}",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 560,
    "y": 80,
    "wires": [["pair_filter_fn", "pair_selector_tpl"]]
  },
  {
    "id": "pair_filter_fn",
    "type": "function",
    "z": "pair_tab",
    "name": "Active Pair Filter",
    "func": "try {\n    var selected = flow.get('pair_selected') || '';\n    if (selected && msg.payload.pair !== selected) return null;\n    // Chart message: value = mean distance, topic = pair key\n    return {\n        payload: msg.payload.mean,\n        topic:   msg.payload.pair,\n        _margin: msg.payload.margin\n    };\n} catch(e) {\n    node.error('Pair Filter: ' + e.message, msg);\n    return null;\n}",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 780,
    "y": 60,
    "wires": [["pair_chart"]]
  },
  {
    "id": "pair_chart",
    "type": "ui-chart",
    "z": "pair_tab",
    "group": "pair_grp_chart",
    "name": "Distance ± Margin",
    "label": "Distance (m)",
    "order": 1,
    "chartType": "line",
    "category": "topic",
    "categoryType": "msg",
    "xAxisProperty": null,
    "xAxisPropertyType": "timestamp",
    "xAxisType": "time",
    "xAxisFormat": "",
    "xAxisFormatType": "auto",
    "xmin": "",
    "xmax": "",
    "yAxisLabel": "Distance (m)",
    "yAxisProperty": "payload",
    "yAxisPropertyType": "msg",
    "ymin": "0",
    "ymax": "",
    "bins": 10,
    "action": "append",
    "stackSeries": false,
    "pointShape": "circle",
    "pointRadius": 3,
    "showLegend": true,
    "removeOlder": 1,
    "removeOlderUnit": "3600",
    "removeOlderPoints": "120",
    "colors": ["#00b0ff","#FF7F0E","#2CA02C","#A347E1","#D62728","#FF9896","#9467BD","#C5B0D5"],
    "textColor": ["#666666"],
    "textColorDefault": true,
    "gridColor": ["#e5e5e5"],
    "gridColorDefault": true,
    "width": 12,
    "height": 6,
    "className": "",
    "interpolation": "linear",
    "x": 1000,
    "y": 60,
    "wires": [[]]
  },
  {
    "id": "pair_selector_tpl",
    "type": "ui-template",
    "z": "pair_tab",
    "group": "pair_grp_ctrl",
    "name": "Pair Selector + Stats",
    "order": 1,
    "width": "12",
    "height": "6",
    "format": "<template>\n  <div style=\"padding:10px;font-size:13px\">\n    <div style=\"display:flex;align-items:center;gap:12px;margin-bottom:12px;flex-wrap:wrap\">\n      <span style=\"color:#90a4ae\">Show pair:</span>\n      <select v-model=\"selected\"\n              @change=\"selectPair\"\n              style=\"background:#1e272c;color:#eceff1;border:1px solid #546e7a;\n                     padding:4px 10px;border-radius:4px;font-size:13px;min-width:200px\">\n        <option value=\"\">All pairs</option>\n        <option v-for=\"p in pairs\" :key=\"p\" :value=\"p\">{{ p }}</option>\n      </select>\n    </div>\n    <table style=\"width:100%;border-collapse:collapse\">\n      <thead>\n        <tr style=\"background:#263238;color:#eceff1\">\n          <th style=\"padding:8px;text-align:left\">Pair</th>\n          <th style=\"padding:8px;text-align:right\">→</th>\n          <th style=\"padding:8px;text-align:right\">←</th>\n          <th style=\"padding:8px;text-align:right\">Mean</th>\n          <th style=\"padding:8px;text-align:right\">±Margin</th>\n        </tr>\n      </thead>\n      <tbody>\n        <tr v-if=\"pairList.length === 0\">\n          <td colspan=\"5\" style=\"padding:16px;text-align:center;color:#546e7a\">No pair data yet</td>\n        </tr>\n        <tr v-for=\"p in pairList\" :key=\"p.pair\"\n            style=\"border-bottom:1px solid #37474f\"\n            :style=\"{ background: p.pair === selected ? '#1a2730' : '' }\">\n          <td style=\"padding:8px;color:#80cbc4\">{{ p.pair }}</td>\n          <td style=\"padding:8px;text-align:right\">{{ p.d_fwd != null ? p.d_fwd.toFixed(2) + ' m' : '—' }}</td>\n          <td style=\"padding:8px;text-align:right\">{{ p.d_rev != null ? p.d_rev.toFixed(2) + ' m' : '—' }}</td>\n          <td style=\"padding:8px;text-align:right;font-weight:bold\">{{ p.mean.toFixed(2) }} m</td>\n          <td style=\"padding:8px;text-align:right;color:#ef9a9a\">±{{ p.margin.toFixed(2) }} m</td>\n        </tr>\n      </tbody>\n    </table>\n  </div>\n</template>\n<script>\nexport default {\n  data() { return { selected: '', allPairs: {} } },\n  computed: {\n    pairs() { return Object.keys(this.allPairs).sort() },\n    pairList() { return Object.values(this.allPairs).sort((a,b) => a.pair.localeCompare(b.pair)) }\n  },\n  watch: {\n    msg(m) {\n      if (!m || !m.payload || !m.payload.pair) return;\n      const p = m.payload;\n      this.allPairs = { ...this.allPairs, [p.pair]: p };\n    }\n  },\n  methods: {\n    selectPair() { this.send({ payload: this.selected }) }\n  }\n}\n</script>",
    "storeOutMessages": false,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 800,
    "y": 140,
    "wires": [["pair_select_fn"]]
  },
  {
    "id": "pair_select_fn",
    "type": "function",
    "z": "pair_tab",
    "name": "Set Selected Pair",
    "func": "flow.set('pair_selected', msg.payload || '');\nreturn null;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1010,
    "y": 140,
    "wires": [[]]
  }
]
